body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    /* font-family: inherit; */
    /* font-family: Noto-CN-Regular, Noto-KR-Regular, Pangram-Regular !important; */
    background-color: black;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
#container{
    width: 100%;
    height: 100%;
    margin: auto;
  
    display: block;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  
}
#content {
  position: relative;
}
#content img {
  height: 75px;
  width: 75px;
  margin: 20px;
  position: fixed;
  top: 0px;
  right: 0px;
}